body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bg-dark{
  background-color: pink !important;
}

.navbar-dark .navbar-brand {
    color: black;
  }

  .navbar-dark .navbar-nav .active>.nav-link{
    color: purple;
  }

  .btn-primary {
    color: purple;
    background-color: pink;
    border-color: white;
}
