body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bg-dark{
  background-color: tomato !important;
}

.navbar-dark .navbar-brand {
    color: #4a4a4a;
  }

  .navbar-dark .navbar-nav .active>.nav-link{
    color: green;
  }

  .btn-primary {
    color: #fff;
    background-color: peru;
    border-color: white;
}
